<section class="section short-about">
    <div class="img-name">
        <img id="me__img"src="../../../assets/imgs/me.jpg" alt="Foto">
        <span id="name">Nicolás Giménez</span>
    </div>
    <div class="brief-description">
        <h1>Fullstack Developer</h1>
        <h3>Hago lo que me gusta</h3>
    </div>
</section>
<section class="section about">
    <div class="presentation">
        <h1>¡Hola, soy Nicolás Giménez. Es un gusto conocerte!</h1>
        <p>Tengo {{edad}} años, a los 4 años entré en el mundo de las computadoras y, poco a poco, se convirtió en algo cotidiano. Desde chico estuve interesado en el desarrollo de aplicaciones, al principio comencé con pequeñas modificaciones del código de un juego lanzado en el año 2000, el cual estaba programado en Visual Basic. Luego comencé a indagar más hasta llegar a quién soy hoy: un Fullstack Developer.</p>
    </div>
</section>
<section class="section skills">
    <article class="list">
        <h1>Skills - Lenguajes</h1>
        <ul class="skill-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>AngularJS</li>
            <li>Python</li>
            <li>C#</li>
            <li>Java</li>
            <li>Spring</li>
            <li>Git</li>
        </ul>
    </article>
    <article class="list">
        <h1>Tools</h1>
        <ul class="skill-list row">
            <li>VS Code</li>
            <li>Netbeans</li>
            <li>Github</li>
            <li>Font Awesome</li>
        </ul>
    </article>
</section>