<section class="section footer">
    <div class="logo">
        <span id="logo-text">NG</span>
    </div>
    <div class="redes">
        <a href="https://github.com/nicolasg143" target="_blank">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/nicolás-giménez-96b935203/" target="_blank">
            <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
        </a>
    </div>
    <div class="reserved">
        <span>Nicolás Giménez - {{fecha}}</span>
    </div>
</section>